<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Database -->
    <add key="DATABASE_HOST_TEST" value="10.100.17.215"/>
    <add key="DATABASE_PORT_TEST" value="1521"/>
    <add key="DATABASE_SERVICE_NAME_TEST" value="TEST"/>
    <add key="DATABASE_USERID_TEST" value="test"/>
    <add key="DATABASE_PASSWORD_TEST" value="test"/>

    <add key="DATABASE_HOST_TEST1" value="10.100.17.11"/>
    <add key="DATABASE_PORT_TEST1" value="1521"/>
    <add key="DATABASE_SERVICE_NAME_TEST1" value="TEST1"/>
    <add key="DATABASE_USERID_TEST1" value="test"/>
    <add key="DATABASE_PASSWORD_TEST1" value="test"/>

    <!-- Repository -->
    <add key="REPOSITORY_BASE" value="D:\REPOSITORY\BASE"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>